@import '~bootstrap';
@import '~bootstrap-vue';

// tables
.stats-table {
    margin-bottom: 0;

    thead {
        border-color: red !important;
    }

    th {
        border-bottom: 0 !important;
    }
}

.round-table {

    @include media-breakpoint-up(lg) {
        &:nth-child(odd) {
            padding-right: 0 !important;

            &:last-of-type {
                padding-right: 15px !important;
            }
        }

        &:nth-child(even) {
            padding-left: 0 !important;
            border-left: 1px solid $gray-200;
        }
    }
    
    .table {
        margin-bottom: 0;
    }

    .nu-select {
        width: 6.25rem;
    }

    input.form-control {
        width: 3.65rem;
    }
}

// modals
.settings-table {
    border: 1px solid #ddd;
    border-radius: 1rem !important;
    
    tr {
        border-bottom: 1px solid #ddd;
    }
}

.round-score-box {
    border: 1px solid $gray-300;
    text-align: center;
    padding: 1rem;
    border-radius: 3px;
    background: $light;
}

// nav
@include media-breakpoint-up(sm) {
    .nav-container {
        padding-left: .8rem !important;
    }
}

// alerts
.alert-sm {
    padding: .35rem 1rem;
}

// form
.was-validated .form-control:invalid, .form-control.is-invalid {
    background: none !important;
    padding-right: 0.5rem;
}

// custom
.game-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.game-stats-card{
  padding: 0 !important;
}

.game-stats-container {

    // last two items
    &:nth-last-of-type(-n+2) {
        .game-stats-item {
            border-bottom: none !important;
        }
    }

    &:nth-child(even) {
        padding-left: 0;
        
        .game-stats-item {
            border-left: 1px solid $gray-200;
        }
    }

    &:nth-child(odd) {
        padding-right: 0;
    }
}

.game-stats-item {
  text-align: center;
  padding: 1rem;
  border-bottom: 1px solid $gray-200;

  .title {
    margin-bottom: .2rem;
  }

  .score {
    margin: 0;
  }

  .score p {
      font-weight: bold;
  }
}