@import '~bootstrap';
@import '~bootstrap-vue';

// tables
.stats-table {
    margin-bottom: 0;

    thead {
        border-color: red !important;
    }

    th {
        border-bottom: 0 !important;
    }
}

.round-table:last-of-type {
    border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.round-table {

    @include media-breakpoint-up(md) {
        &:first-child {
            padding-right: 0 !important;
        }

        &:last-child {
            padding-left: 0 !important;
        }
    }
    
    .table {
        margin-bottom: 0;
    }

    .nu-select {
        width: 6.25rem;
    }

    input.form-control {
        width: 3.65rem;
    }
}

// modals
.settings-table {
    border: 1px solid #ddd;
    border-radius: 1rem !important;
    
    tr {
        border-bottom: 1px solid #ddd;
    }
}

// nav
@include media-breakpoint-up(sm) {
    .nav-container {
        padding-left: .8rem !important;
    }
}
